.navbar {
  background-color: #f7f7f7;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
}

.app-name {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: rgb(115, 59, 206);
  font-weight: bold;
  text-align: center;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar .dropdown-menu .dropdown-item {
  color: black;
}
