// Specific CSS for your home-page
.container {
  background-color: #151515;
}

body {
  background-image: image-url("background1.webp");
  background-repeat: repeat;
}

.navbar {
  background-color: transparent;
}
