<h1>Notifications</h1>
<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= notification.message %>
      <% unless notification.read? %>
        <%= link_to 'Mark as read', mark_as_read_notification_path(notification), method: :patch %>
        <% if notification.friend_request? %>
          <%= link_to 'Add friend back', new_friend_path(attendee_id: notification.sender_id), data: {turbo_method: :post} %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
