<h1>Notifications</h1>
<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= notification.message %>
      <% unless notification.read? %>
        <%= link_to 'Mark as read', mark_as_read_notification_path(notification), method: :patch %>
        <%= link_to 'Add friend back', friends_path(attendee_id: ), data: {turbo_method: :post}%>
      <% end %>
    </li>
  <% end %>
</ul>
