<div class="container">
  <h2 class="text-center my-4" id="title">Notifications</h2>
  <% if @notifications.any? %>
    <% @notifications.each do |notification| %>
    <% if !notification.read? %>
      <%= render 'partials/notification_index', notification: notification %>
      <% end %>
    <% end %>
  <% else %>
    <p>No notifications found.</p>
  <% end %>

</div>
