<style>
  .home-container {
    background-image: url("<%= asset_path 'background_home_img.png' %>");
  }
</style>

<div class="home-container">
  <div class="content">
    
  </div>
  <%= link_to "Visit My Profile", my_profile_path, class: "visit-profile-button" %>
</div>
