// app/assets/stylesheets/activities/_new.scss

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 50px;
  text-align: center;
  color: #00123F;
  font-weight: bold;
}

.btn {
  margin: 10px;
}

body {
  background-color: #f7f7f7;
}

.buttons {
  text-align: center;
  padding-bottom: 100px;
}
