.activities-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.show-activity-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.show-activity-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px; /* Increased margin-bottom to add more space */
  color: #5304bf; /* Primary color */
}

.show-activity-detail {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 8px;
}

.show-activity-detail strong {
  color: #333333;
}

.carousel-container {
  margin-bottom: 20px; /* Reduced margin-bottom back to default */
}

.carousel-item img {
  border-radius: 12px;
  object-fit: cover;
}

.modern-photo {
  border: 2px solid #AE62F8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space between the map and the footer */
  height: 300px; /* Set a fixed height */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.attendees-container {
  margin-top: 20px;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.avatar {
  text-align: center;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #5304bf; /* Primary color */
}

.avatar-name {
  font-size: 0.9rem;
  margin-top: 5px;
  color: #666666;
}

.btn-container {
  display: flex;
  justify-content: center; /* Center align content */
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.vote-button {
  margin: 0 auto; /* Center the vote button */
}

.three-dots-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .show-activity-card {
    padding: 15px;
  }

  .show-activity-title {
    font-size: 1.2rem;
  }

  .show-activity-detail {
    font-size: 0.9rem;
  }

  .btn1 {
    width: 100%;
    text-align: center;
  }
}

