.activities-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.show-activity-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.show-activity-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5304bf; /* Primary color */
}

.show-activity-detail {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 8px;
}

.show-activity-detail strong {
  color: #333333;
}

.carousel-container {
  margin-bottom: 20px;
}

.carousel-item img {
  border-radius: 12px;
}

.map-container {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space between the map and the footer */
  height: 300px; /* Set a fixed height */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .show-activity-card {
    padding: 15px;
  }

  .show-activity-title {
    font-size: 1.2rem;
  }

  .show-activity-detail {
    font-size: 0.9rem;
  }

  .btn1 {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .map-container {
    height: 250px; /* Adjust height for mobile devices */
  }
}
