.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

/* to change avatar size on activity show page */
.avatar-image {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: 50%;
}

//css for avatars in attendance on acitivity show page
.attendee-avatar-wrapper {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.attendee-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friends-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light grey background */
}

.avatar-image.friends-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
