.btn1 {
  background-color: #00123F;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0 !important; /* Override any bottom margin */
}

.btn1:hover {
  background-color: #5395DB;
}

.btn2 {
  background-color: #00123F;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: 40px; /* Adjust as needed */
}

.btn2:hover {
  background-color: #5395DB;
}

.btn2:focus,
.btn2:active {
  outline: none;
  box-shadow: none;
}

@media (max-width: 600px) {
  .btn2 {
    white-space: normal;
    font-size: 12px;
  }
}
