.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #faf3dd;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1bcb7f;
  color: white;
}

.custom-calendar-title {
  background-color: #f7f7f7 !important; /* Changed background color */
  color: black; /* Change text color if needed */
  border: none; /* Remove border */
}

.custom-calendar-title:focus {
  outline: none; /* Remove blue outline */
  box-shadow: none; /* Remove any box shadow */
}

.calendar-heading {
  text-align: left; /* Ensure the heading is left-aligned */
}

.bg-success {
  background-color: #28a745 !important;
  color: #fff;
}
