.calendar-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.simple-calendar {
  width: 100%;
}

.calendar-heading {
  text-align: left;
  margin-bottom: 15px;
}

.custom-calendar-title {
  background-color: whitesmoke;
  color: black;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.chevron-left,
.chevron-right {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Adjust background color directly for td elements */
.table td {
  background-color: white;
  font-weight: lighter;
}

.table th {
  background-color: white;
}

.bg-success {
  background-color: white !important;
  color: #fff;
}

.day {
  height: 60px;
  position: relative;
}

.event-dot {
  width: 8px;
  height: 8px;
  background-color: #C6C4B7;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.event-dot-link {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.activity {
  font-size: 0.8rem;
  margin-top: 5px;
}

.activity-link {
  color: black;
  text-decoration: none;
}

.activity-link:hover {
  text-decoration: underline;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
  .calendar-container {
    padding: 0 5px;
    margin-bottom: 10px;
  }

  .calendar-heading {
    text-align: center;
    margin-bottom: 10px;
  }

  .calendar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .calendar-navigation a {
    margin: 0 10px;
  }

  .calendar-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .table {
    font-size: 0.8rem;
  }

  .table th,
  .table td {
    padding: 4px;
    font-size: 0.75rem;
  }

  .simple-calendar {
    .day {
      height: 40px !important;
      min-height: 30px;
      box-shadow: none;
    }
    .prev-month {
      background: white !important;
    }
  }

  .activity {
    font-size: 0.65rem;
  }
}

@media (max-width: 375px) {
  .calendar-heading {
    font-size: 0.9rem;
  }

  .calendar-title {
    font-size: 1rem;
  }

  .table th,
  .table td {
    font-size: 0.7rem;
    padding: 3px;
  }

  .day {
    min-height: 30px;
  }

  .activity {
    font-size: 0.6rem;
  }

  .calendar-navigation {
    justify-content: space-around;
  }

  .calendar-navigation a {
    margin: 0 5px;
  }
}
