.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.calendar-container {
  width: 100%;
  margin-bottom: 30px;
}

.cards-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.custom-event-card {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 4px #00123F;
  overflow: hidden;
  display: flex;
  transition: all 0.3s ease;
}

.custom-event-card:hover .custom-event-card__title {
  color: #00123F;
}

.custom-event-card:hover .custom-event-card__description {
  color: #83899E;
}

.custom-event-card__content {
  flex: 1;
  min-width: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-event-card__title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: #00123F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-event-card__description {
  font-size: 0.75rem; /* Adjust font size */
  color: #83899E;
  margin-bottom: 8px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.custom-event-card__datetime {
  font-size: 0.7rem; /* Adjust font size */
  color: #5395DB;
  display: flex;
  align-items: center;
}

.custom-event-card__datetime i {
  margin-right: 4px;
}

.custom-event-card__image-container {
  flex: 0 0 30%;
  max-width: 30%;
  overflow: hidden;
  position: relative;
}

.custom-event-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-event-card__placeholder {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-event-card__placeholder::after {
  content: "No Image";
  color: #888;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .home-container {
    padding: 10px;
  }

  .cards-container {
    padding-bottom: 40px; /* Less padding on smaller screens */
  }

  .custom-event-card {
    height: 90px; /* Adjust height for smaller screens */
  }

  .custom-event-card__content {
    padding: 8px;
  }

  .custom-event-card__title {
    font-size: 0.8rem;
  }

  .custom-event-card__description {
    font-size: 0.7rem;
    -webkit-line-clamp: 2;
  }

  .custom-event-card__datetime {
    font-size: 0.6rem;
  }

  .custom-event-card__image-container {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
