.search-form {
  position: relative;
  display: inline-block;
  max-width: 350px;
  width: 100%;
}

.search-form input[type="text"] {
  padding: 10px 15px; /* Adjust padding for better aesthetics */
  width: calc(100% - 30px);
  border: 1px solid #ccc;
  border-radius: 8px; /* Increase border-radius for a rounded look */
  font-size: 14px;
}

/* Styling for flash messages */
.flash {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #FFDB00;
  color: #FFFFFF;
}
